<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Covid Classifier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>

.hero {
    background: black url(static/images/chest-x-ray.jpg) center / cover;
}
    </style>

  </head>


<body>

<!-- .hero -->
<section class="hero is-fullheight" has-background-black>

    <section class="section">
        <div class="container">
            <h1 class="title">
                Covid Classifier
            </h1>
            <p class="subsubtitle" style="color:#0C090A">
                by <strong style="color:#0C090A">Vaishak</strong> & <strong style="color:#0C090A">Supraj</strong>
            </p>
        </div>
        </section>


    <section class="section">
        <div class="container has-text-centered bg-text" style="width: 100%">
                <p class="subtitle" style="color:#0C090A">
                  Check if <strong style="color:#0C090A">Covid</strong> or <strong style="color:#0C090A">Pnemonia</strong> or <strong style="color:#0C090A">Normal</strong>!
                </p>
              <div>
                <i class="arrow_down"></i>
                <form action="/classify" method="post" enctype="multipart/form-data" style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
                  <div class="file has-name is-centered">
                      <label class="file-label">
                        <input class="file-input" type="file" id="image" name = "image">
                        <span class="file-cta">
                          <span class="file-label">
                            Upload an image
                          </span>
                        </span>
                        <span class="file-name" id="file-name">
                          No file chosen
                        </span>

                      </label>
                    </div>
                    <br>
                    <input type="submit" value="Classify" class="button is-black" name = "image" id="classify_button">
                </form>

                </div>

              </div>
            </div>
        </div>
</section>



</section>


<!-- .section -->
<section class="bd-footer-link">
        <div class="container">
            <div class="columns">
              <div class="column">
                      <article class="media notification has-background-white">
                          <div class="media-content">
                              <div class="content">
                                  <p class="subsubtitle"><img src="static/images/icon.jpg" alt="Bulma: Free, open source, &amp; modern CSS framework based on Flexbox" style="max-height: 100%;" width="70" height="70">
                                  <strong>CovidSpect</strong>
                                  </p>
                              </div>
                          </div>
                      </article>
                  </div>

                <div class="column">
                        <article class="media notification has-background-white">
                            <div class="media-content">
                                <div class="content">
                                    <p class="subsubtitle">
                                    <strong>Phone: +91-8861921939, +91-8317407440</strong>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>



                <div class="column">
                    <article class="media notification has-background-white">
                        <div class="media-content">

                            <div class="content">

                                <div class="columns">

                                    <div class="column">
                                        <p class="subsubtitle">
                                            <strong>Vaishak Harish</strong>
                                        </p>
                                    </div>


                                    <div class="column">
                                        <a class="navbar-item" href="mailto:vaishak705@gmail.com">
                                            <figure class="media-content">
                                                    <span class="icon">
                                                        <i class="fas fa-lg fa-envelope-open-text"></i>
                                                    </span>
                                            </figure>
                                        </a>
                                    </div>

                                    <div class="column">
                                            <p class="subsubtitle">
                                                <strong>Supraj SA</strong>
                                            </p>
                                        </div>

                                        <div class="column">
                                            <a class="navbar-item" href="mailto: vaishak705@gmail.com">
                                                <figure class="media-content">
                                                        <span class="icon">
                                                            <i class="fas fa-lg fa-envelope-open-text"></i>
                                                        </span>
                                                </figure>
                                            </a>
                                        </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- /.section -->
<!-- /.hero -->


    <!-- /.section -->
<!-- /.hero -->


<script src="/static/script.js"></script>
</body>
</html>
